In [44]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy import stats
from statsmodels.stats import diagnostic as diag
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.weightstats import ztest

In [45]:
df = pd.read_excel('S3P5_Data.xlsx',sheet_name='Sheet1')

In [46]:
df1 = df[['TIR142','Linear Sensor', 'Actual Press','UP Current', 'LP Current','UP Position']]

In [47]:
melted_df = pd.melt(df1,var_name="variable_name",value_name="values")
melted_df

      variable_name  values
0            TIR142   0.272
1            TIR142   0.151
2            TIR142   0.216
3            TIR142   0.175
4            TIR142   0.311
...             ...     ...
61453   UP Position   1.420
61454   UP Position   1.420
61455   UP Position   2.570
61456   UP Position   2.220
61457   UP Position   4.060

[61458 rows x 2 columns]

In [48]:
bygroup = melted_df.groupby(['variable_name'])['values']
bygroup.aggregate(['count',np.mean, np.std]).round(2)

               count  mean    std
variable_name
Actual Press   10243  3.30   0.10
LP Current     10243 -0.13  27.98
Linear Sensor  10243 -1.71   0.07
TIR142         10243  0.24   0.10
UP Current     10243  0.41  31.75
UP Position    10243  1.46   0.52

In [49]:
(test_statistic, p_value) = ztest(df['TIR142'], value=0.24,ddof=1.0)


if p_value<0.05:
    print("reject null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))
else:
    print("accept null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))

reject null hypothesis
The test statistic is:  -2.51033
The p-value is: 0.01206

In [50]:
(test_statistic, p_value) = ztest(df['Actual Press'], value=3.30,ddof=1.0)
if p_value < 0.05:
    print("reject null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))
else:
    print("accept null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))

reject null hypothesis
The test statistic is:  -4.3129
The p-value is: 1.611e-05

In [54]:
(test_statistic, p_value) = ztest(df['UP Current'], value=0.41,ddof=1.0)

if p_value<0.05:
    print("reject null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))
else:
    print("accept null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))

accept null hypothesis
The test statistic is:  -1.94258
The p-value is: 0.05207

In [55]:
(test_statistic, p_value) = ztest(df['LP Current'], value=-0.13,ddof=1.0)

if p_value<0.05:
    print("reject null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))
else:
    print("accept null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))

accept null hypothesis
The test statistic is:  0.01102
The p-value is: 0.9912

In [53]:
(test_statistic, p_value) = ztest(df['UP Position'], value=1.46,ddof=1.0)

if p_value<0.05:
    print("reject null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))
else:
    print("accept null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))

accept null hypothesis
The test statistic is:  -0.58634
The p-value is: 0.5576

In [36]:
(test_statistic, p_value) = ztest(df['Linear Sensor'], value=-1.71, ddof=1.0)

if p_value<0.05:
    print("reject null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))
else:
    print("accept null hypothesis")
    print("The test statistic is: ", round(test_statistic,5))
    print("The p-value is: {:.4}".format(p_value))

reject null hypothesis
The test statistic is:  -6.56362
The p-value is: 5.252e-11